@font-face {
  font-family: "fontGame";
  src: url("../font/Pony.ttf");
}

.bookingMovie {
  font-family: "fontGame";
}

.ghe {
  border: 3px solid orange;
  background-color: #fff;
  width: 45px;
  height: 35px;
  font-size: 12px;
  margin-left: 2%;
  margin-bottom: 1%;
  border-radius: 5px;
}

.rowNumber {
  /* font-size: 25px; */
  width: 45px;
  height: 35px;
  background: none;
  border: none;
  margin-left: 2%;
  margin-bottom: 1%;
  font-size: 30px;
  color: yellow;
}
.firstChar {
  color: yellow;
  font-size: 35px;
  margin-right: 15px;
}

.screen {
  border-bottom: 50px solid rgb(255, 159, 95);
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height: 100;
  width: 80%;
  filter: drop-shadow(4px 30px 20px rgba(255, 255, 255, 0.5));
  font-size: 25px;
  color: #fff;
}

.gheDuocChon {
  border: 3px solid orange;

  background: orange;
  color: #000;

  cursor: no-drop !important;
  border-radius: 5px;
  width: 45px;
  height: 35px;
}

.gheDangChon {
  background: rgb(109, 238, 109);
  border: 3px solid rgb(109, 238, 109);
  color: #000;

  cursor: pointer;
  border-radius: 5px;
  width: 45px;
  height: 35px;
}
.background {
  background-image: url("../Img//bgmovie.jpg");
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.container-content {
  /* glassmorphirm */
  background: rgba(255, 255, 255, 0.14);
  backdrop-filter: blur(4.7px);
}

td {
  width: 40px;
  font-weight: 600;
  font-size: 1em;
  padding-top: 7px;
  height: 24px;
  color: #fff;
  text-align: center;
}
input[type="checkbox"] {
  width: 35px;
  height: 25px;
}
input[type="checkbox"]:after {
  content: "";
  display: inline-block;
  border: 3px solid orange;
  background-color: #fff;
  width: 35px;
  height: 25px;
  font-size: 12px;

  border-radius: 5px;
}
input:checked:after {
  content: "";
  display: inline-block;
  background: rgb(109, 238, 109);
  border: 3px solid orange;
  color: #000;

  cursor: pointer;
  border-radius: 5px;
  width: 35px;
  height: 25px;
}
input[type="checkbox"][value="true"]::after {
  content: "";
  display: inline-block;
  background: #cccccc;
  border: 3px solid #cccccc;
  color: #000;

  cursor: pointer;
  border-radius: 5px;
  width: 35px;
  height: 25px;
}
